body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-items li {
    padding: 0 10px;
}

.restaurant-card {
    border: 1px solid #e2e2e2;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding-bottom: 10px;
}

.restaurant-card:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.restaurant-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    cursor: pointer;
}

.restaurant-card img {
    height: 200px;
}

.restaurant-card h3,
.restaurant-card h4 {
    margin: 10px 0 0;
    padding: 0 10px;
}

.search {
    display: flex;
    justify-content: center;
    padding: 20px;
}